<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<h1><%= "#{@year}年の実績" %></h1>
<%= link_to "前の年", year: @date.prev_year %>
<%= link_to "次の年", year: @date.next_year %>
<table>
  <thead>
    <tr>
      <th>月</th>
      <th>勤務時間</th>
      <th>テキスト執筆数</th>
      <th>テキスト修正数</th>
      <th>執筆ペース</th>
      <th>修正ペース</th>
    </tr>
  </thead>
  <% each_month_in_year(@year) do |month, index| %>
  <tbody>
    <tr>
      <td><%= date_in_japanese(month, :month) %></td>
      <td><%= time_diff_str(@time_cards.where(year: @year, month: index+1).sum { |hash| hash.work_hours_in_seconds }) %></td>
      <td><%= writings_in_month(@time_cards, @year, index+1) %></td>
      <td><%= revisions_in_month(@time_cards, @year, index+1) %></td>
      <% if @time_cards.where(year: @year, month: index+1).present? %>
        <td><%= writings_in_month(@time_cards, @year, index+1) / (@time_cards.where(year: @year, month: index+1).sum { |hash| hash.work_hours_in_seconds } / 3600).to_i %></td>
        <td><%= revisions_in_month(@time_cards, @year, index+1) / (@time_cards.where(year: @year, month: index+1).sum { |hash| hash.work_hours_in_seconds } / 3600).to_i %></td>
      <% else %>
        <td>0</td>
        <td>0</td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>
