<!DOCTYPE html>
<html>
  <head>
    <title>ResultsManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <%= link_to "管理者画面", admin_users_path %>
        <%= link_to "ユーザ登録", new_admin_user_path %>
      <% end %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
